html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

input {
  border: none;
}

body {
  width: 134.78rem;
}


.landing-page-container {
  box-sizing: border-box;
  padding: 2.2rem 9.8rem 5rem 6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #dbdbdb;


  .header-section {
    margin: 0rem 0.2rem 6.6rem 0rem;
    width: calc(100% - 0.2rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }

  .person-name-header {
    margin: 0.1rem 100.1rem 0rem 0rem;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.756;
    color: #000000;
    font-family: Pacifico, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: baseline;
    flex-shrink: 0;
  }

  .first-name {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.755;
    white-space: pre;
    margin: 0;
    padding: 0;
    color: #000000;
    font-family: Pacifico, 'Source Sans Pro';
  }

  .last-name {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.755;
    margin: 0;
    padding: 0;
    color: #f19f05;
    font-family: Pacifico, 'Source Sans Pro';
  }

  .profile-image-corner {
    width: 5.6rem;
    height: 5.6rem;
    object-fit: fill;
    vertical-align: top;
    border-radius: 5rem;
    align-items: center;
    flex-shrink: 0;
    size: 100%;
  }


  .page-container {
    width: 100%;
    height: 81rem;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;

    .profile-section {
      margin-right: 2rem;
      width: 40rem;
      height: 80rem;
      position: relative;
      box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0);
      flex-shrink: 0;
    }

    .profile-card-container {
      width: 40rem;
      height: 70rem;
      position: absolute;
      left: 0;
      top: 10rem;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
      background-color: #f8fbfb;
      border-radius: 2rem;
    }

    .contact-card-container {
      width: 35rem;
      height: 35rem;
      position: absolute;
      left: 2.5rem;
      top: 38.4rem;
      background-color: #caced4;
      border-radius: 2rem;
    }

    .profile-image {
      border-radius: 2rem;
      height: 20rem;
      left: 9.2rem;
      object-fit: cover;
      position: absolute;
      top: 0;
      vertical-align: top;
      width: 20rem;
    }

    .person-name {
      width: 23.5rem;
      height: 3.6rem;
      position: relative;
      left: 8.3rem;
      top: 21.4rem;
      overflow: hidden;
      font-size: 2.842rem;
      font-weight: 700;
      line-height: 1.25;
      color: #0b0909;
      font-family: Raleway, 'Source Sans Pro';
      white-space: nowrap;
    }

    .career-title {
      width: auto;
      height: 4rem;
      position: absolute;
      left: 12.4rem;
      top: 25.4rem;
      overflow: hidden;
      font-size: 1.6rem;
      font-weight: 800;
      line-height: 2.5;
      color: rgba(10, 9, 8, 0.5);
      font-family: Raleway, 'Source Sans Pro';
      white-space: normal;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0.5rem;
    }

    .social-media-icons {
      width: 29.6rem;
      height: 6.1662rem;
      position: absolute;
      left: 5.8rem;
      top: 30rem;
      display: flex;
      align-items: center;
    }

    .social-group {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      flex-shrink: 0;
      height: 100%;
      padding-right: 0.9094rem;
    }

    .fb-icon-container {
      margin-right: 0.9098rem;
      margin-bottom: 0.0475rem;
      box-sizing: border-box;
      padding: 2.067rem 2.481rem 2.067rem 2.48rem;
      height: 100%;
      background-color: #d1d7dd;
      border-radius: 0.8269rem;
      flex-shrink: 0;


      .facebook-icon {
        width: 1.9844rem;
        height: 1.9846rem;
        object-fit: contain;

        vertical-align: top;
        border-radius: 1.8269rem;
      }

    }

    .linkedin {
      margin-bottom: 0.0475rem;
      box-sizing: border-box;
      padding: 2.067rem 2.481rem 2.067rem 2.48rem;
      height: calc(100% - 0.0475rem);
      background-color: #d1d7dd;
      border-radius: 0.8269rem;
      flex-shrink: 0;

      .linkedin-fill {
        width: 1.9844rem;
        height: 1.9846rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 0.8269rem;
      }
    }
  }

  .twitter {
    margin-right: 0.9098rem;
    box-sizing: border-box;
    padding: 2.067rem 2.481rem 2.067rem 2.48rem;
    height: 100%;
    background-color: #d1d7dd;
    border-radius: 0.8269rem;
    flex-shrink: 0;

    .twitter-fill {
      width: 2.016rem;
      height: 2.0318rem;
      object-fit: contain;
      vertical-align: top;
    }
  }

  .github {
    background-color: #d1d7dd;
    border-radius: 0.8269rem;
    box-sizing: border-box;
    flex-shrink: 0;
    height: 6.0779rem;
    margin-bottom: 0.0883rem;
    padding: 2.0672rem 2.4805rem;

    .github-fill {
      height: 1.9436rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 50%;
      width: 1.9844rem;
    }
  }


  .phone-group {

    box-sizing: border-box;
    padding: 0 0.2rem;
    width: 25.6rem;
    height: 6.35rem;
    position: absolute;
    left: 6.1rem;
    top: 41.75rem;
    border-bottom: solid 0.1rem #e3e3e3;

    .phone-1 {
      align-items: center;
      display: flex;
      height: 4.4rem;
      width: 15.5rem;

      .phone-2 {
        background-color: #caced4;
        border-radius: 0.8rem;
        box-sizing: border-box;
        flex-shrink: 0;
        height: 100%;
        margin-right: 1rem;
        padding: 1rem;

        .gridicons-phone {
          height: 2.4rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.4rem;
          border-radius: 50%;
        }
      }

      .phone-details {
        flex-shrink: 0;
        height: calc(100% - 1.65rem);
        margin: 1.2rem 0rem 0.45rem 0rem;
        position: relative;
        width: 10.1rem;

        .phone-3 {
          color: rgba(26, 16, 3, 0.5);
          font-family: Raleway, 'Source Sans Pro';
          font-size: 1.4rem;
          font-weight: 600;
          height: 1.9rem;
          left: 0;
          line-height: 1.3;
          position: absolute;
          top: 0;
          white-space: nowrap;
          width: 4.3rem;
        }

        .phonenumber {
          width: 10.1rem;
          height: 2rem;
          position: absolute;
          left: 0;
          top: 75%;
          font-size: 1.4rem;
          font-weight: 600;
          line-height: 1.4285714286;
          color: #000000;
          font-family: Raleway, 'Source Sans Pro';
          text-decoration: none;
          white-space: nowrap;
        }
      }
    }
  }

  .email-group {
    box-sizing: border-box;
    padding-left: 0.1rem;
    width: 30.2rem;
    height: 6.4rem;
    position: absolute;
    left: 5.8rem;
    top: 49.6rem;
    border-bottom: solid 0.1rem #e3e3e3;

    .email-details {
      align-items: flex-end;
      display: flex;
      height: 4.1359rem;
      width: 100%;

      .email-1 {
        margin-right: 1.2rem;
        box-sizing: border-box;
        padding: 1rem;
        height: 100%;
        background-color: #caced4;
        border-radius: 0.8rem;
        flex-shrink: 0;

        .email-open-outline {
          width: 2.4rem;
          height: 2.1359rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 0.8269rem;
        }
      }

      .email-details {
        margin-bottom: 0.1359rem;
        width: 24.5rem;
        height: 2.75rem;
        position: relative;
        flex-shrink: 0;

        .email-2 {
          width: 3.7rem;
          height: 1.9rem;
          position: absolute;
          left: 0;
          top: 0;
          font-size: 1.4rem;
          font-weight: 600;
          line-height: 1.3;
          color: rgba(26, 16, 3, 0.5);
          font-family: Raleway, 'Source Sans Pro';
          white-space: nowrap;
        }

        .email-address {
          width: 24.5rem;
          height: 2rem;
          position: absolute;
          left: 0;
          top: 75%;
          font-size: 1.4rem;
          font-weight: 600;
          line-height: 1.4285714286;
          color: #000000;
          font-family: Raleway, 'Source Sans Pro';
          text-decoration: none;
          white-space: nowrap;
        }
      }
    }
  }

  .location-1 {
    border-bottom: solid 0.1rem #e3e3e3;
    box-sizing: border-box;
    height: 6.7rem;
    left: 5.9rem;
    padding: 0 0.15rem;
    position: absolute;
    top: 57.5rem;
    width: 25.6rem;

    .location-2 {
      align-items: flex-end;
      display: flex;
      height: 4.35rem;
      width: 14.85rem;

      .location-3 {
        background-color: #caced4;
        border-radius: 0.8rem;
        box-sizing: border-box;
        flex-shrink: 0;
        height: 100%;
        margin-right: 1rem;
        padding: 1rem;

        .location-outline {
          border-radius: 0.8269rem;
          height: 2.35rem;
          object-fit: contain;
          position: relative;
          vertical-align: top;
          width: 2.35rem;
        }
      }

      .location-details-container {
        flex-shrink: 0;
        height: 2.75rem;
        margin-bottom: 0.35rem;
        position: relative;
        width: 9.5rem;

        .location-label {
          color: rgba(26, 16, 3, 0.5);
          font-family: Raleway, 'Source Sans Pro';
          font-size: 1.4rem;
          font-weight: 600;
          height: 1.9rem;
          left: 0;
          line-height: 1.3;
          position: absolute;
          top: 0;
          white-space: nowrap;
          width: 5.8rem;
        }

        .city-country {
          width: 9.5rem;
          height: 2rem;
          position: absolute;
          left: 0;
          top: 75%;
          font-size: 1.4rem;
          font-weight: 600;
          line-height: 1.4285714286;
          color: #000000;
          font-family: Raleway, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
  }

  .download-details-container {
    align-items: center;
    background: linear-gradient(271.49deg, #ff9c1a 92.08%, #e80505 208.2%);
    border-radius: 2rem;
    box-sizing: border-box;
    display: flex;
    height: 4.4rem;
    left: 10.7rem;
    padding: 1.2rem 2rem 1.2rem 2.4rem;
    position: absolute;
    top: 65.7rem;
    width: 18.5rem;
  }

  .material-symbols-download-container {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .material-symbols-download-icon {
    flex-shrink: 0;
    height: 1.6rem;
    margin-right: 1.4rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.6rem;
  }

  .download-resume-button {
    color: #f2f7fc;
    flex-shrink: 0;
    font-family: Raleway, 'Source Sans Pro';
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.6666666667;
    white-space: nowrap;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
}

.navigation-section {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 100%;
}

.navbar-container {
  background-color: #f2f7fc;
  border-radius: 2rem;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  flex-shrink: 0;
  height: 10rem;
  margin-bottom: 1rem;
  padding: 1rem 3.2rem 1rem 3.1rem;
  width: 50.3rem;
}

.nav-cards {
  align-items: center;
  column-gap: 4rem;
  display: flex;
  height: 100%;
  width: 100%;
}

.home-card {
  background-color: #e1e7ef;
  border-radius: 2rem;
  box-sizing: border-box;
  cursor: pointer;
  flex-shrink: 0;
  height: 100%;
  padding: 1.6rem 2.2rem 2rem 2.3rem;
  width: 8rem;
}

.home-link {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 0.15rem;
  width: 100%;
}

.home-icon {
  flex-shrink: 0;
  height: 1.95rem;
  margin-bottom: 0.3rem;
  object-fit: contain;
  vertical-align: top;
  width: 2.25rem;
}

.home-label {
  color: #000000;
  flex-shrink: 0;
  font-family: Raleway, 'Source Sans Pro';
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6666666667;
  text-decoration: none;
  white-space: nowrap;
}

.resume-card {
  background: linear-gradient(271.49deg, #ff9c1a 92.08%, #e80505 208.2%);
  background-color: #e1e8ef;
  border-radius: 2rem;
  box-sizing: border-box;
  cursor: pointer;
  flex-shrink: 0;
  height: 100%;
  padding: 1.3rem 1.6rem 2.3rem 1.7rem;
  width: 8rem;
}

.resume-link {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 0.2rem;
  width: 100%;
}

.resume-icon {
  flex-shrink: 0;
  height: 2rem;
  margin-bottom: 0.2rem;
  object-fit: contain;
  vertical-align: top;
  width: 1.6rem;
}

.resume-label {
  color: #000000;
  flex-shrink: 0;
  font-family: Raleway, 'Source Sans Pro';
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6666666667;
  text-decoration: none;
  white-space: nowrap;
}

.work-card {
  background-color: #e1e7ef;
  border-radius: 2rem;
  box-sizing: border-box;
  cursor: pointer;
  flex-shrink: 0;
  height: 100%;
  padding: 1.4rem 2.4rem 2rem 2.5rem;
  width: 8rem;
}

.work-link {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 0.2rem;
  width: 100%;
}

.work-icon {
  flex-shrink: 0;
  height: 1.9rem;
  margin-bottom: 0.5rem;
  object-fit: contain;
  vertical-align: top;
  width: 2rem;
}

.work-label {
  color: #000000;
  flex-shrink: 0;
  font-family: Raleway, 'Source Sans Pro';
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6666666667;
  text-decoration: none;
  white-space: nowrap;
}

.contact-card {
  background-color: #e1e7ef;
  border-radius: 2rem;
  box-sizing: border-box;
  cursor: pointer;
  flex-shrink: 0;
  height: 100%;
  padding: 1.4rem 2.4rem 2rem 2.5rem;
  width: 8rem;
}

.contact-link {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 0.2rem;
  width: 100%;
}

.contact-icon {
  flex-shrink: 0;
  height: 2rem;
  margin-bottom: 0.2rem;
  object-fit: contain;
  vertical-align: top;
  width: 2rem;
}

.contact-label {
  color: #000000;
  flex-shrink: 0;
  font-family: Raleway, 'Source Sans Pro';
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6666666667;
  white-space: nowrap;
  text-decoration: none;
}


.resume-main-section {
  align-items: center;
  background-color: #ffffff;
  border-radius: 2rem;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-right: 0.2rem;
  width: 82rem;

  .auto-group-1 {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 2.8rem 11.107rem 3.586rem 7.2rem;
    width: 100%;

    .resume-heading {
      align-items: center;
      display: flex;
      flex-shrink: 0;
      margin: 0rem 18.393rem 2.3rem 0rem;
      width: calc(100% - 18.393rem);

      .resume-main-title {
        color: #0b0909;
        flex-shrink: 0;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 4rem;
        font-weight: 500;
        letter-spacing: 0.1rem;
        line-height: 1;
        margin-right: 3.1rem;
        white-space: nowrap;
      }

      .line-decoration {
        flex-shrink: 0;
        height: 1.6rem;
        object-fit: contain;
        size: 40%;
        vertical-align: top;
        width: 35.2rem;
        margin-left: 5px;
      }
    }

    .education-experience-details {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 100%;

      .education-experience-heading {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        height: 4.7rem;
        margin: 0rem 9.796rem 2.1rem 0rem;
        width: calc(100% - 9.7961rem);

        .education-main-heading {
          align-items: center;
          box-sizing: border-box;
          display: flex;
          flex-shrink: 0;
          height: 100%;
          margin-right: 15.9rem;
          padding-left: 0.1156rem;

          .icon-park-outline-degree {
            flex-shrink: 0;
            height: 1.7336rem;
            margin: 0rem 1.153rem 0.001rem 0rem;
            object-fit: contain;
            vertical-align: top;
            width: 2.4297rem;
          }

          .education-main-title {
            color: #000000;
            flex-shrink: 0;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 2.7737rem;
            font-weight: 500;
            letter-spacing: 0.0693rem;
            line-height: 1.6666666667;
            white-space: nowrap;
          }
        }

        .experience-heading {
          align-items: center;
          box-sizing: border-box;
          display: flex;
          flex-shrink: 0;
          height: 100%;
          padding-left: 0.4621rem;

          .humbleicons-briefcase {
            flex-shrink: 0;
            height: 1.8492rem;
            margin: 0.001rem 1.387rem 0rem 0rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.8492rem;
          }

          .experience-main-title {
            color: #000000;
            flex-shrink: 0;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 2.7737rem;
            font-weight: 500;
            letter-spacing: 0.0693rem;
            line-height: 1.6666666667;
            white-space: nowrap;
          }
        }
      }

      .auto-group-auto {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        height: 11.5572rem;
        margin-bottom: 2.4rem;
        width: 100%;

        .education-card1 {
          background-color: #ffe3bf;
          border-radius: 0.9246rem;
          box-sizing: border-box;
          flex-shrink: 0;
          height: 100%;
          margin-right: 5.907rem;
          padding: 2.427rem 0.925rem 2.381rem 0.925rem;
          width: 28.893rem;

          .education-more-details {
            height: 100%;
            width: 15.6rem;

            .duration-1 {
              color: rgba(26, 16, 3, 0.5);
              font-family: Raleway, 'Source Sans Pro';
              font-size: 1.3869rem;
              font-weight: 400;
              line-height: 1.175;
              margin-bottom: 0.8246rem;
              white-space: nowrap;
            }

            .course-1 {
              color: #000000;
              font-family: Raleway, 'Source Sans Pro';
              font-size: 1.3869rem;
              font-weight: 600;
              line-height: 1.175;
              margin-bottom: 0.8244rem;
              white-space: nowrap;
            }

            .Institution-1 {
              color: #000000;
              font-family: Raleway, 'Source Sans Pro';
              font-size: 1.3869rem;
              font-weight: 500;
              line-height: 1.175;
              white-space: nowrap;
            }
          }
        }

        .experience-card1 {
          background-color: #ffeed9;
          border-radius: 0.9246rem;
          box-sizing: border-box;
          flex-shrink: 0;
          height: 100%;
          padding: 2.427rem 0.925rem 2.381rem 0.925rem;
          width: 28.893rem;

          .experience-details-1 {
            height: 100%;
            width: 11.4rem;

            .exp-duration-1 {
              color: rgba(26, 16, 3, 0.5);
              font-family: Raleway, 'Source Sans Pro';
              font-size: 1.3869rem;
              font-weight: 400;
              line-height: 1.175;
              margin-bottom: 0.8246rem;
              white-space: nowrap;
            }

            .job-title {
              color: #000000;
              font-family: Raleway, 'Source Sans Pro';
              font-size: 1.3869rem;
              font-weight: 600;
              line-height: 1.175;
              margin-bottom: 0.8244rem;
              white-space: nowrap;
            }

            .job-place {
              color: #000000;
              font-family: Raleway, 'Source Sans Pro';
              font-size: 1.3869rem;
              font-weight: 500;
              line-height: 1.175;
              white-space: nowrap;
            }
          }
        }
      }

      .auto-group-educard2 {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        height: 11.5572rem;
        width: 100%;

        .education-card2 {
          background-color: #ffeed9;
          border-radius: 0.9246rem;
          box-sizing: border-box;
          flex-shrink: 0;
          height: 100%;
          margin-right: 5.907rem;
          padding: 2.427rem 0.925rem 2.381rem 0.925rem;
          width: 28.893rem;

          .education-details-2 {
            height: 100%;
            width: 17.4rem;

            .education-duration2 {
              color: rgba(26, 16, 3, 0.5);
              font-family: Raleway, 'Source Sans Pro';
              font-size: 1.3869rem;
              font-weight: 400;
              line-height: 1.175;
              margin-bottom: 0.8246rem;
              white-space: nowrap;
            }

            .course-2 {
              color: #000000;
              font-family: Raleway, 'Source Sans Pro';
              font-size: 1.3869rem;
              font-weight: 600;
              line-height: 1.175;
              margin-bottom: 0.8244rem;
              white-space: nowrap;
            }

            .Institution-2 {
              color: #000000;
              font-family: Raleway, 'Source Sans Pro';
              font-size: 1.3869rem;
              font-weight: 500;
              line-height: 1.175;
              white-space: nowrap;
            }
          }
        }

        .experience-card2 {
          background-color: #ffe3bf;
          border-radius: 0.9246rem;
          box-sizing: border-box;
          flex-shrink: 0;
          height: 100%;
          padding: 2.427rem 0.925rem 2.381rem 0.925rem;
          width: 28.893rem;

          .experience-details-2 {
            height: 100%;
            width: 15.1rem;

            .experience-duration-2 {
              color: rgba(26, 16, 3, 0.5);
              font-family: Raleway, 'Source Sans Pro';
              font-size: 1.3869rem;
              font-weight: 400;
              line-height: 1.175;
              margin-bottom: 0.8246rem;
              white-space: nowrap;
            }

            .job-title-2 {
              color: #000000;
              font-family: Raleway, 'Source Sans Pro';
              font-size: 1.3869rem;
              font-weight: 600;
              line-height: 1.175;
              margin-bottom: 0.8244rem;
              white-space: nowrap;
            }

            .job-place2 {
              color: #000000;
              font-family: Raleway, 'Source Sans Pro';
              font-size: 1.3869rem;
              font-weight: 500;
              line-height: 1.175;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }

  .skills-section {
    background-color: #f8fbfb;
    border-radius: 0 0 0.8rem 0.8rem;
    box-sizing: border-box;
    flex-shrink: 0;
    height: 25rem;
    padding: 0rem 12.9rem 0rem 7.2rem;
    width: 100%;

    .skills-work {
      display: flex;
      flex-direction: column;
      height: 22.2rem;
      width: 100%;

      .auto-group-skill-type {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        margin: 0rem 13.3rem 0.8rem 0rem;
        width: calc(100% - 13.3rem);

        .work-skills {
          color: #000000;
          flex-shrink: 0;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 2.7737rem;
          font-weight: 500;
          letter-spacing: 0.0693rem;
          line-height: 1.6666666667;
          margin-right: 19.2rem;
          white-space: nowrap;
        }

        .soft-skills {
          color: #000000;
          flex-shrink: 0;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 2.7737rem;
          font-weight: 500;
          letter-spacing: 0.0693rem;
          line-height: 1.6666666667;
          white-space: nowrap;
        }
      }

      .skills-list {
        border-radius: 0.8rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 100%;

        .auto-group-work {
          align-items: center;
          display: flex;
          flex-shrink: 0;
          height: 3.2rem;
          margin: 0rem 0rem 1.3rem 0.1rem;

          .work-expertise-1 {
            align-items: center;
            background-color: #e1e8ef;
            border-radius: 0.8rem;
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: Raleway, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 400;
            height: 100%;
            justify-content: center;
            letter-spacing: 0.024rem;
            line-height: 2;
            margin-right: 3.5rem;
            white-space: nowrap;
            width: 5.9rem;
          }

          .work-expertise-2 {
            align-items: center;
            background-color: #e1e8ef;
            border-radius: 0.8rem;
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: Raleway, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 400;
            height: 100%;
            justify-content: center;
            letter-spacing: 0.024rem;
            line-height: 2;
            margin-right: 3.5rem;
            white-space: nowrap;
            width: 6.1rem;
          }

          .work-expertise-3 {
            align-items: center;
            background-color: #e1e8ef;
            border-radius: 0.8rem;
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: Raleway, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 400;
            height: 100%;
            justify-content: center;
            letter-spacing: 0.024rem;
            line-height: 2;
            margin-right: 9.6rem;
            white-space: nowrap;
            width: 6.1rem;
          }

          .work-expertise-4 {
            align-items: center;
            background-color: #e1e8ef;
            border-radius: 0.8rem;
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: Raleway, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 400;
            height: 100%;
            justify-content: center;
            letter-spacing: 0.024rem;
            line-height: 2;
            margin-right: 1.9rem;
            white-space: nowrap;
            width: 12.5rem;
          }

          .work-expertise-5 {
            align-items: center;
            background-color: #e1e8ef;
            border-radius: 0.8rem;
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: Raleway, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 400;
            height: 100%;
            justify-content: center;
            letter-spacing: 0.024rem;
            line-height: 2;
            white-space: nowrap;
            width: 8.1rem;
          }
        }

        .auto-group-soft {
          align-items: flex-start;
          display: flex;
          flex-shrink: 0;
          margin: 0rem 0rem 0.7rem 0.1rem;

          .soft-expertise-1 {
            align-items: center;
            background-color: #e1e8ef;
            border-radius: 0.8rem;
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: Raleway, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 400;
            height: 3.2rem;
            justify-content: center;
            letter-spacing: 0.024rem;
            line-height: 2;
            margin-right: 2.5rem;
            white-space: nowrap;
            width: 5rem;
          }

          .soft-expertise-2 {
            align-items: center;
            background-color: #e1e8ef;
            border-radius: 0.8rem;
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: Raleway, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 400;
            height: 3.2rem;
            justify-content: center;
            letter-spacing: 0.024rem;
            line-height: 2;
            margin-right: 2.5rem;
            white-space: nowrap;
            width: 9rem;
          }

          .soft-expertise-3 {
            align-items: center;
            background-color: #e1e8ef;
            border-radius: 0.8rem;
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: Raleway, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 400;
            height: 3.2rem;
            justify-content: center;
            letter-spacing: 0.024rem;
            line-height: 2;
            margin-right: 10.5rem;
            white-space: nowrap;
            width: 5.2rem;
          }

          .soft-expertise-4 {
            align-items: center;
            background-color: #e1e8ef;
            border-radius: 0.8rem;
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: Raleway, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 400;
            height: 3.2rem;
            justify-content: center;
            letter-spacing: 0.024rem;
            line-height: 2;
            margin: 0.6rem 2.1rem 0rem 0rem;
            white-space: nowrap;
            width: 17.9rem;
          }

          .soft-expertise-5 {
            align-items: center;
            background-color: #e1e8ef;
            border-radius: 0.8rem;
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: Raleway, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 400;
            height: 3.2rem;
            justify-content: center;
            letter-spacing: 0.024rem;
            line-height: 2;
            margin-top: 0.6rem;
            white-space: nowrap;
            width: 7.1rem;
          }
        }

        .auto-group-soft2 {
          align-items: flex-start;
          display: flex;
          flex-shrink: 0;
          margin-bottom: 0.1rem;

          .soft-expertise-6 {
            align-items: center;
            background-color: #e1e8ef;
            border-radius: 0.8rem;
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: Raleway, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 400;
            height: 3.2rem;
            justify-content: center;
            letter-spacing: 0.024rem;
            line-height: 2;
            margin-right: 1.9rem;
            white-space: nowrap;
            width: 7.6rem;
          }

          .soft-expertise-7 {
            align-items: center;
            background-color: #e1e8ef;
            border-radius: 0.8rem;
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: Raleway, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 400;
            height: 3.2rem;
            justify-content: center;
            letter-spacing: 0.024rem;
            line-height: 2;
            margin-right: 1.9rem;
            white-space: nowrap;
            width: 7.7rem;
          }

          .soft-expertise-8 {
            align-items: center;
            background-color: #e1e8ef;
            border-radius: 0.8rem;
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: Raleway, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 400;
            height: 3.2rem;
            justify-content: center;
            letter-spacing: 0.024rem;
            line-height: 2;
            margin-right: 11.7rem;
            white-space: nowrap;
            width: 4rem;
          }

          .soft-expertise-9 {
            align-items: center;
            background-color: #e1e8ef;
            border-radius: 0.8rem;
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: Raleway, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 400;
            height: 3.2rem;
            justify-content: center;
            letter-spacing: 0.024rem;
            line-height: 2;
            margin: 1.2rem 1.9rem 0rem 0rem;
            white-space: nowrap;
            width: 7rem;
          }

          .soft-expertise-10 {
            align-items: center;
            background-color: #e1e8ef;
            border-radius: 0.8rem;
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: Raleway, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 400;
            height: 3.2rem;
            justify-content: center;
            letter-spacing: 0.024rem;
            line-height: 2;
            margin-top: 1.2rem;
            white-space: nowrap;
            width: 5.8rem;
          }
        }

        .auto-group-soft3 {
          align-items: center;
          column-gap: 3.3rem;
          display: flex;
          flex-shrink: 0;
          height: 3.2rem;

          .soft-expertise-11 {
            align-items: center;
            background-color: #e1e8ef;
            border-radius: 0.8rem;
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: Raleway, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 400;
            height: 100%;
            justify-content: center;
            letter-spacing: 0.024rem;
            line-height: 2;
            white-space: nowrap;
            width: 6.2rem;
          }

          .soft-expertise-12 {
            align-items: center;
            background-color: #e1e8ef;
            border-radius: 0.8rem;
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: Raleway, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 400;
            height: 100%;
            justify-content: center;
            letter-spacing: 0.024rem;
            line-height: 2;
            white-space: nowrap;
            width: 6.2rem;
          }

          .soft-expertise-13 {
            align-items: center;
            background-color: #e1e8ef;
            border-radius: 0.8rem;
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: Raleway, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 400;
            height: 100%;
            justify-content: center;
            letter-spacing: 0.024rem;
            line-height: 2;
            white-space: nowrap;
            width: 3.2rem;
          }
        }
      }
    }
  }
}